---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.parse.json?task=get&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"parse":[{"hostname":"www.example.com","url":"www.mydomain.com\/parse.php","spam_check":1}]}'
  recorded_at: Fri, 17 Jan 2014 01:26:55 GMT
recorded_with: VCR 2.8.0
