*.gem
*.pgz
*.tmproj
.bundle
.DS_Store
.gitconfig
.idea
.rvmrc
.sass-cache
/.ey_local_data
/.ruby-gemset
/.vagrant
bin/*
config/*.sphinx.conf
config/database.yml
config/sphinx.yml
db/sphinx/
Gemfile.lock
log
log/*.log
project.rvmrc
public/assets
public/flash/*.swf
public/javascripts/packaged/*.js
public/packages/*
public/stylesheets/packaged/*.css
spec/internal/config/database.yml
sphinx/**/*
tmp
tmp/**/*
Gemfile.lock
