---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?task=getavailable&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"gravatar","title":"Gravatar","description":"Appends your
        gravatar to each HTML email.","activated":false},{"name":"clicktrack","title":"Click
        Tracking","description":"Overwrites every link to track every click in emails.","activated":false},{"name":"subscriptiontrack","title":"Subscription
        Tracking","description":"Adds unsubscribe links to the bottom of the text
        and HTML emails.  Future emails won''t be delivered to unsubscribed users.","activated":false},{"name":"opentrack","title":"Open
        Tracking","description":"Appends an invisible image to HTML emails to tra[...]
