---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?api_key=pass&api_user=user&name=eventnotify&task=getsettings&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"settings":{"processed":"","dropped":"","deferred":"","delivered":"","bounce":"","click":"","open":"","unsubscribe":"","subscribe":"","spamreport":"","url":"","batch":"","version":"1"}}'
  recorded_at: Fri, 17 Jan 2014 01:27:45 GMT
recorded_with: VCR 2.8.0
