---
http_interactions:
- request:
    method: post
    uri: https://sendgrid.com/apiv2/customer.apps.json
    body:
      encoding: US-ASCII
      string: user=sendgrid_testuser3&name=eventnotify&processed=1&dropped=1&deferred=1&delivered=1&bounce=1&click=1&open=1&unsubscribe=1&spamreport=1&url=http%3A%2F%2Fyourdomain.com%2Fevent.php&task=setup&api_user=kyle%40agencieshq.com&api_key=pass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:27:48 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?name=eventnotify&task=getsettings&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"settings":{"processed":"1","dropped":"1","deferred":"1","delivered":"1","bounce":"1","click":"1","open":"1","unsubscribe":"1","subscribe":"","spamreport":"1","url":"http:\/\/yourdomain.com\/event.php","batch":"","version":"3"}}'
  recorded_at: Fri, 17 Jan 2014 01:27:51 GMT
recorded_with: VCR 2.8.0
