---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.monitor.json?api_key=pass&api_user=user&email=test@email.com&frequency=10000&name=testmonitor&task=create
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:25:53 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.monitor.json?api_key=pass&api_user=user&task=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"testmonitor","email":"test@email.com","frequency":"10000","users":[]}]'
  recorded_at: Fri, 17 Jan 2014 01:25:55 GMT
recorded_with: VCR 2.8.0
