---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.monitor.json?name=testmonitor&task=detach&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:26:07 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.monitor.json?task=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"testmonitor","email":"test@email.com","frequency":"10","users":[]}]'
  recorded_at: Fri, 17 Jan 2014 01:26:09 GMT
recorded_with: VCR 2.8.0
