---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.limit.json?credits=400&task=decrement&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:24:59 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.limit.json?task=retrieve&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"credit":"0","credit_remain":"400","last_reset":"2014-01-16"}]'
  recorded_at: Fri, 17 Jan 2014 01:25:01 GMT
recorded_with: VCR 2.8.0
