---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.limit.json?api_key=pass&api_user=user&credits=400&period=daily&task=recurring&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:24:49 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.limit.json?api_key=pass&api_user=user&task=retrieve&user=sendgrid_testuser3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"credit":"400","credit_remain":"400","last_reset":"2014-01-16"}]'
  recorded_at: Fri, 17 Jan 2014 01:24:51 GMT
recorded_with: VCR 2.8.0
