---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/api/profile.set.json?first_name=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:52:35 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/api/profile.get.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"username":"user","email":"user","active":"true","first_name":"test","last_name":"Customer","address":"555
        Any Street","address2":"","city":"City","state":"State","zip":"90000","country":"US","phone":"555-555-5555","website":"http:\/\/Website","website_access":"true"}]'
  recorded_at: Fri, 17 Jan 2014 01:52:36 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/api/profile.set.json?first_name=Reseller
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Fri, 17 Jan 2014 01:52:39 GMT
recorded_with: VCR 2.8.0
